.input-area {
  position: relative;
  display: block;
  width: 270px;
  height: 40px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border-width: 0px;
  border-style: none;
  outline: none;

  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  text-indent: 30px;
  padding: 0px;
  // color: #ffffff;

  &:hover,
  &:focus {
    border-style: none;
  }
}

.search-string {
  display: block;
  position: relative;

  &__select {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      contain: content;
      display: block;
      top: 14px;
      bottom: 14px;
      right: 30px;
      width: 18px;
      height: 13px;
      background-image: url(../images/polygon-down.svg);
      background-size: cover;
      z-index: 2;
      pointer-events: none;

      box-sizing: border-box;
    }
  }
}

.input-area-select {
  position: relative;
  display: block;
  width: 270px;
  height: 40px;

  text-indent: 30px;
  padding: 0px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: none;
  outline: none;
  border-radius: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #939393;

  cursor: pointer;
  overflow: hidden;

  &:hover,
  &:focus {
    border-style: none;
  }

  // &::before {
  //   box-sizing: border-box;
  // }
}

select {
  color: rgba(255, 255, 255, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: hidden;
  // background-image: url('../images/sprite.svg#icon-polygon-down') no-repeat right;
  // background-position-x: calc(100% - 30px);

  --hover-background-color: #dc56c5;
  --hover-color: #000;
}

option {
  padding-left: 30px;
  padding-top: 2px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(54, 53, 53);

  align-items: center;
  // background-color: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  color: #cccccc;
  cursor: pointer;
  display: flex;

  font-size: inherit;
  font-weight: inherit;
  height: 44px;
  justify-content: flex-start;
}
option:hover,
option:focus {
  // background: olive linear-gradient(olive, olive);
  // color: blue;

  background: rgba(255, 255, 255, 1);
  color: #000000;
  background-color: #dc56c5;
}

.search-icon {
  &__icon-search {
    position: absolute;
    display: block;
    top: 14px;
    bottom: 14px;
    right: 30px;
  }
}

@media screen and (min-width: 320px) {
  .search-string {
    padding-bottom: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .search-string {
    display: block;
    padding-bottom: 27px;
  }
  .search-string:not(:last-child) {
    margin-right: 30px;
  }

  .search-form {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .search-string {
    padding-bottom: 52px;
  }
}
